

/*footer {
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 5%;
    display: block;
    width: 100%;
    height: auto;
    background-image: url("image.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}*/

body{
    background-color: whitesmoke;
}

.Login {

    background-color: whitesmoke;
    border:thin;
    border-color:black;
    padding: 20px

}
